/* src/components/CountryGrid.css */

.countries-grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(480px,1fr));
  gap:4rem;
  padding:4rem 0;
}

.country-card {
  width: 100% !important;
  max-width: 264px !important;
  display: block !important;
}

.no-results{
  text-align:center;
  padding:6rem 2rem;
  font-size:1.75rem;
}

.no-results-light{
  color:#667;
}

.no-results-dark{
  color:#ccc;
}

@media (max-width:768px){
  .countries-grid {
    grid-template-columns:1fr;
    gap:2rem;
    padding:2rem 0;
  }
}