src/components/SearchBar.css

.search-container{
  postion:relative;
  max-width:400px;
  flex:1;
}

.search-icon{
  position:absolute;
  left:1rem;
  top:50%;
  transform:translateY(-50%);
  z-index:1;
  color:#999;
}

.search-input{
  width:100%;
  padding:1rem 1rem 1rem 3rem;
  border:none;
  border-radius:5px;
  box-shadow:0 2px 9px rgba(0,0,0,0.1);
  font-size:0.875rem;
  outline:none;
  font-family:inherit;
  transition:all 0.3s ease;
}

.search-input-light{
  background-color: #ffffff;
  color:#111517;
}

.search-input-dark{
  background-color: #2b2844;
  color:#ffffff;
}

.search-input::placeholder{
  color:#999;
}

.search-input.focus{
  box-shadow:0 2px 12px rgba(0,0,0,0.15);
}

